@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Degular";
  src: url("../../public/font/dr.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
.Degular {
  font-family: "Degular", sans-serif;
}
*{
  @apply Degular
}